body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Home_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:40px;
    top:80px;
    width:260px;
    height:410px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u1 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:40px;
    top:80px;
    width:260px;
    height:410px
}

.u2 {
    position:absolute;
    left:270px;
    top:90px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_original {
    background-image: url('../Home_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:100px;
    top:210px;
    width:150px;
    height:80px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:86px;
}

.u4 {
    position:absolute;
    left:2px;
    top:32px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:100px;
    top:210px;
    width:150px;
    height:80px
}

.u5_original {
    background-image: url('../Home_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:40px;
    top:450px;
    width:260px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:40px;
    top:450px;
    width:260px;
    height:40px
}

.u7 {
    position:absolute;
    left:250px;
    top:464px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_original {
    background-image: url('../Home_files/u0_original.png');
}

.u8_container {
    position:absolute;
    left:40px;
    top:780px;
    width:260px;
    height:410px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u9 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:40px;
    top:780px;
    width:260px;
    height:410px
}

.u10 {
    position:absolute;
    left:280px;
    top:460px;
    width:30px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:210px;
    top:234px;
    width:30px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:286px;
    top:87px;
    width:30px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:40px;
    top:560px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:94px;
    top:800px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_original {
    background-image: url('../Home_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:56px;
    top:830px;
    width:120px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:56px;
    top:830px;
    width:120px;
    height:40px
}

.u17_original {
    background-image: url('../Home_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:60px;
    top:892px;
    width:40px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:60px;
    top:892px;
    width:40px;
    height:40px
}

.u19_original {
    background-image: url('../Home_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:120px;
    top:892px;
    width:40px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:120px;
    top:892px;
    width:40px;
    height:40px
}

.u21_original {
    background-image: url('../Home_files/u19_original.png');
}

.u21_container {
    position:absolute;
    left:180px;
    top:892px;
    width:40px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:180px;
    top:892px;
    width:40px;
    height:40px
}

.u23_original {
    background-image: url('../Home_files/u19_original.png');
}

.u23_container {
    position:absolute;
    left:240px;
    top:892px;
    width:40px;
    height:40px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u24 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:240px;
    top:892px;
    width:40px;
    height:40px
}

.u25_original {
    background-image: url('../Home_files/u17_original.png');
}

.u25_container {
    position:absolute;
    left:60px;
    top:955px;
    width:40px;
    height:40px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:60px;
    top:955px;
    width:40px;
    height:40px
}

.u27_original {
    background-image: url('../Home_files/u17_original.png');
}

.u27_container {
    position:absolute;
    left:120px;
    top:955px;
    width:40px;
    height:40px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u28 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:120px;
    top:955px;
    width:40px;
    height:40px
}

.u29_original {
    background-image: url('../Home_files/u17_original.png');
}

.u29_container {
    position:absolute;
    left:180px;
    top:955px;
    width:40px;
    height:40px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u30 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:180px;
    top:955px;
    width:40px;
    height:40px
}

.u31_original {
    background-image: url('../Home_files/u17_original.png');
}

.u31_container {
    position:absolute;
    left:240px;
    top:955px;
    width:40px;
    height:40px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u32 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:240px;
    top:955px;
    width:40px;
    height:40px
}

.u33_original {
    background-image: url('../Home_files/u19_original.png');
}

.u33_container {
    position:absolute;
    left:60px;
    top:1019px;
    width:40px;
    height:40px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:60px;
    top:1019px;
    width:40px;
    height:40px
}

.u35_original {
    background-image: url('../Home_files/u19_original.png');
}

.u35_container {
    position:absolute;
    left:120px;
    top:1019px;
    width:40px;
    height:40px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u36 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:120px;
    top:1019px;
    width:40px;
    height:40px
}

.u37_original {
    background-image: url('../Home_files/u19_original.png');
}

.u37_container {
    position:absolute;
    left:180px;
    top:1019px;
    width:40px;
    height:40px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:180px;
    top:1019px;
    width:40px;
    height:40px
}

.u39_original {
    background-image: url('../Home_files/u19_original.png');
}

.u39_container {
    position:absolute;
    left:240px;
    top:1019px;
    width:40px;
    height:40px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:240px;
    top:1019px;
    width:40px;
    height:40px
}

.u41_original {
    background-image: url('../Home_files/u19_original.png');
}

.u41_container {
    position:absolute;
    left:60px;
    top:1082px;
    width:40px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:60px;
    top:1082px;
    width:40px;
    height:40px
}

.u43_original {
    background-image: url('../Home_files/u19_original.png');
}

.u43_container {
    position:absolute;
    left:120px;
    top:1082px;
    width:40px;
    height:40px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:120px;
    top:1082px;
    width:40px;
    height:40px
}

.u45_original {
    background-image: url('../Home_files/u19_original.png');
}

.u45_container {
    position:absolute;
    left:180px;
    top:1082px;
    width:40px;
    height:40px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u46 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:180px;
    top:1082px;
    width:40px;
    height:40px
}

.u47_original {
    background-image: url('../Home_files/u19_original.png');
}

.u47_container {
    position:absolute;
    left:240px;
    top:1082px;
    width:40px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:240px;
    top:1082px;
    width:40px;
    height:40px
}

.u49_original {
    background-image: url('../Home_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:80px;
    top:1150px;
    width:180px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:80px;
    top:1150px;
    width:180px;
    height:30px
}

.u51_original {
    background-image: url('../Home_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:186px;
    top:830px;
    width:100px;
    height:40px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:186px;
    top:830px;
    width:100px;
    height:40px
}

.u53 {
    position:absolute;
    left:163px;
    top:835px;
    width:30px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:274px;
    top:832px;
    width:30px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_line {
    background-image: url('../Home_files/u55_line.png');
}

.u55_line {
    position:absolute;
    left:40px;
    top:524px;
    width:930px;
    height:3px;
}

.u55 {
    position:absolute;
    left:40px;
    top:524px;
    width:930px;
    height:3px
}

.u56 {
    position:absolute;
    left:40px;
    top:664px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_original {
    background-image: url('../Home_files/u0_original.png');
}

.u57_container {
    position:absolute;
    left:40px;
    top:1320px;
    width:260px;
    height:410px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u58 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:40px;
    top:1320px;
    width:260px;
    height:410px
}

.u59_original {
    background-image: url('../Home_files/u19_original.png');
}

.u59_container {
    position:absolute;
    left:60px;
    top:1410px;
    width:40px;
    height:40px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u60 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:60px;
    top:1410px;
    width:40px;
    height:40px
}

.u61_original {
    background-image: url('../Home_files/u19_original.png');
}

.u61_container {
    position:absolute;
    left:120px;
    top:1410px;
    width:40px;
    height:40px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u62 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:120px;
    top:1410px;
    width:40px;
    height:40px
}

.u63_original {
    background-image: url('../Home_files/u19_original.png');
}

.u63_container {
    position:absolute;
    left:180px;
    top:1410px;
    width:40px;
    height:40px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u64 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:180px;
    top:1410px;
    width:40px;
    height:40px
}

.u65_original {
    background-image: url('../Home_files/u19_original.png');
}

.u65_container {
    position:absolute;
    left:240px;
    top:1410px;
    width:40px;
    height:40px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u66 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:240px;
    top:1410px;
    width:40px;
    height:40px
}

.u67_original {
    background-image: url('../Home_files/u19_original.png');
}

.u67_container {
    position:absolute;
    left:60px;
    top:1473px;
    width:40px;
    height:40px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u68 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:60px;
    top:1473px;
    width:40px;
    height:40px
}

.u69_original {
    background-image: url('../Home_files/u69_original.png');
}

.u69_container {
    position:absolute;
    left:66px;
    top:1340px;
    width:64px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:36px;
}

.u70 {
    position:absolute;
    left:2px;
    top:7px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:66px;
    top:1340px;
    width:64px;
    height:30px
}

.u71 {
    position:absolute;
    left:40px;
    top:1784px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_original {
    background-image: url('../Home_files/u0_original.png');
}

.u72_container {
    position:absolute;
    left:40px;
    top:1920px;
    width:260px;
    height:410px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u73 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:40px;
    top:1920px;
    width:260px;
    height:410px
}

.u74 {
    position:absolute;
    left:100px;
    top:1940px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_original {
    background-image: url('../Home_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:84px;
    top:1980px;
    width:180px;
    height:40px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u76 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:84px;
    top:1980px;
    width:180px;
    height:40px
}

.u77_original {
    background-image: url('../Home_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:84px;
    top:2030px;
    width:180px;
    height:40px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u78 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:84px;
    top:2030px;
    width:180px;
    height:40px
}

.u79_original {
    background-image: url('../Home_files/u77_original.png');
}

.u79_container {
    position:absolute;
    left:84px;
    top:2080px;
    width:180px;
    height:40px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u80 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:84px;
    top:2080px;
    width:180px;
    height:40px
}

.u81_original {
    background-image: url('../Home_files/u77_original.png');
}

.u81_container {
    position:absolute;
    left:84px;
    top:2130px;
    width:180px;
    height:40px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:46px;
}

.u82 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:84px;
    top:2130px;
    width:180px;
    height:40px
}

.u83_line {
    background-image: url('../Home_files/u83_line.png');
}

.u83_line {
    position:absolute;
    left:40px;
    top:2364px;
    width:960px;
    height:3px;
}

.u83 {
    position:absolute;
    left:40px;
    top:2364px;
    width:960px;
    height:3px
}

.u84_original {
    background-image: url('../Home_files/u0_original.png');
}

.u84_container {
    position:absolute;
    left:40px;
    top:2570px;
    width:260px;
    height:410px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u85 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:40px;
    top:2570px;
    width:260px;
    height:410px
}

.u86 {
    position:absolute;
    left:270px;
    top:2580px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_original {
    background-image: url('../Home_files/u3_original.png');
}

.u87_container {
    position:absolute;
    left:100px;
    top:2700px;
    width:150px;
    height:80px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:86px;
}

.u88 {
    position:absolute;
    left:2px;
    top:32px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:100px;
    top:2700px;
    width:150px;
    height:80px
}

.u89_original {
    background-image: url('../Home_files/u5_original.png');
}

.u89_container {
    position:absolute;
    left:40px;
    top:2940px;
    width:260px;
    height:40px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:46px;
}

.u90 {
    position:absolute;
    left:2px;
    top:12px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:40px;
    top:2940px;
    width:260px;
    height:40px
}

.u91 {
    position:absolute;
    left:250px;
    top:2954px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_original {
    background-image: url('../Home_files/u92_original.png');
}

.u92_container {
    position:absolute;
    left:40px;
    top:2570px;
    width:260px;
    height:370px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:376px;
}

.u93 {
    position:absolute;
    left:2px;
    top:177px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:40px;
    top:2570px;
    width:260px;
    height:370px
}

.u94_original {
    background-image: url('../Home_files/u94_original.png');
}

.u94_container {
    position:absolute;
    left:40px;
    top:2940px;
    width:190px;
    height:40px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:46px;
}

.u95 {
    position:absolute;
    left:2px;
    top:12px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:40px;
    top:2940px;
    width:190px;
    height:40px
}

.u96_original {
    background-image: url('../Home_files/u96_original.png');
}

.u96_container {
    position:absolute;
    left:143px;
    top:2830px;
    width:150px;
    height:102px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:108px;
}

.u97 {
    position:absolute;
    left:2px;
    top:43px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:143px;
    top:2830px;
    width:150px;
    height:102px
}

.u98_original {
    background-image: url('../Home_files/u98_original.png');
}

.u98_container {
    position:absolute;
    left:93px;
    top:2830px;
    width:40px;
    height:40px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u99 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:93px;
    top:2830px;
    width:40px;
    height:40px
}

.u100 {
    position:absolute;
    left:159px;
    top:2849px;
    width:126px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_original {
    background-image: url('../Home_files/u0_original.png');
}

.u101_container {
    position:absolute;
    left:40px;
    top:3150px;
    width:260px;
    height:410px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u102 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:40px;
    top:3150px;
    width:260px;
    height:410px
}

.u103_original {
    background-image: url('../Home_files/u19_original.png');
}

.u103_container {
    position:absolute;
    left:60px;
    top:3200px;
    width:40px;
    height:40px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u104 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:60px;
    top:3200px;
    width:40px;
    height:40px
}

.u105_original {
    background-image: url('../Home_files/u19_original.png');
}

.u105_container {
    position:absolute;
    left:120px;
    top:3200px;
    width:40px;
    height:40px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u106 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:120px;
    top:3200px;
    width:40px;
    height:40px
}

.u107_original {
    background-image: url('../Home_files/u19_original.png');
}

.u107_container {
    position:absolute;
    left:180px;
    top:3200px;
    width:40px;
    height:40px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u108 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:180px;
    top:3200px;
    width:40px;
    height:40px
}

.u109_original {
    background-image: url('../Home_files/u19_original.png');
}

.u109_container {
    position:absolute;
    left:240px;
    top:3200px;
    width:40px;
    height:40px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u110 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:240px;
    top:3200px;
    width:40px;
    height:40px
}

.u111_original {
    background-image: url('../Home_files/u19_original.png');
}

.u111_container {
    position:absolute;
    left:60px;
    top:3263px;
    width:40px;
    height:40px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u112 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:60px;
    top:3263px;
    width:40px;
    height:40px
}

.u113_original {
    background-image: url('../Home_files/u69_original.png');
}

.u113_container {
    position:absolute;
    left:226px;
    top:3520px;
    width:64px;
    height:30px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:36px;
}

.u114 {
    position:absolute;
    left:2px;
    top:7px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:226px;
    top:3520px;
    width:64px;
    height:30px
}

.u115 {
    position:absolute;
    left:272px;
    top:3520px;
    width:30px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_original {
    background-image: url('../Home_files/u0_original.png');
}

.u116_container {
    position:absolute;
    left:40px;
    top:3740px;
    width:260px;
    height:410px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u117 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:40px;
    top:3740px;
    width:260px;
    height:410px
}

.u118_original {
    background-image: url('../Home_files/u19_original.png');
}

.u118_container {
    position:absolute;
    left:60px;
    top:3790px;
    width:40px;
    height:40px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u119 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:60px;
    top:3790px;
    width:40px;
    height:40px
}

.u120_original {
    background-image: url('../Home_files/u19_original.png');
}

.u120_container {
    position:absolute;
    left:120px;
    top:3790px;
    width:40px;
    height:40px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u121 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:120px;
    top:3790px;
    width:40px;
    height:40px
}

.u122_original {
    background-image: url('../Home_files/u19_original.png');
}

.u122_container {
    position:absolute;
    left:180px;
    top:3790px;
    width:40px;
    height:40px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u123 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:180px;
    top:3790px;
    width:40px;
    height:40px
}

.u124_original {
    background-image: url('../Home_files/u19_original.png');
}

.u124_container {
    position:absolute;
    left:240px;
    top:3790px;
    width:40px;
    height:40px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u125 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:240px;
    top:3790px;
    width:40px;
    height:40px
}

.u126_original {
    background-image: url('../Home_files/u19_original.png');
}

.u126_container {
    position:absolute;
    left:60px;
    top:3853px;
    width:40px;
    height:40px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u127 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:60px;
    top:3853px;
    width:40px;
    height:40px
}

.u128_original {
    background-image: url('../Home_files/u69_original.png');
}

.u128_container {
    position:absolute;
    left:226px;
    top:4110px;
    width:64px;
    height:30px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:36px;
}

.u129 {
    position:absolute;
    left:2px;
    top:7px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:226px;
    top:4110px;
    width:64px;
    height:30px
}

.u130_original {
    background-image: url('../Home_files/u130_original.png');
}

.u130_container {
    position:absolute;
    left:40px;
    top:3740px;
    width:260px;
    height:410px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u131 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:40px;
    top:3740px;
    width:260px;
    height:410px
}

.u132_original {
    background-image: url('../Home_files/u132_original.png');
}

.u132_container {
    position:absolute;
    left:80px;
    top:3840px;
    width:184px;
    height:90px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:190px;
    height:96px;
}

.u133 {
    position:absolute;
    left:2px;
    top:37px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:80px;
    top:3840px;
    width:184px;
    height:90px
}

.u134 {
    position:absolute;
    left:40px;
    top:44px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:360px;
    top:80px;
    width:440px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:40px;
    top:584px;
    width:790px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:40px;
    top:688px;
    width:810px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:40px;
    top:1250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:190px;
    top:1158px;
    width:30px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_original {
    background-image: url('../Home_files/u140_original.png');
}

.u140_container {
    position:absolute;
    left:91px;
    top:1407px;
    width:10px;
    height:10px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:6px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:91px;
    top:1407px;
    width:10px;
    height:10px
}

.u142_original {
    background-image: url('../Home_files/u140_original.png');
}

.u142_container {
    position:absolute;
    left:153px;
    top:1407px;
    width:10px;
    height:10px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:6px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:153px;
    top:1407px;
    width:10px;
    height:10px
}

.u144_original {
    background-image: url('../Home_files/u140_original.png');
}

.u144_container {
    position:absolute;
    left:214px;
    top:1407px;
    width:10px;
    height:10px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:6px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:214px;
    top:1407px;
    width:10px;
    height:10px
}

.u146_original {
    background-image: url('../Home_files/u140_original.png');
}

.u146_container {
    position:absolute;
    left:272px;
    top:1407px;
    width:10px;
    height:10px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:6px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:272px;
    top:1407px;
    width:10px;
    height:10px
}

.u148_original {
    background-image: url('../Home_files/u140_original.png');
}

.u148_container {
    position:absolute;
    left:92px;
    top:1470px;
    width:10px;
    height:10px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:6px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:92px;
    top:1470px;
    width:10px;
    height:10px
}

.u150 {
    position:absolute;
    left:40px;
    top:1280px;
    width:810px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:40px;
    top:1814px;
    width:810px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:40px;
    top:2410px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:40px;
    top:2440px;
    width:810px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:40px;
    top:2494px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:40px;
    top:2524px;
    width:810px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_end {
    background-image: url('../Home_files/u156_end.png');
}

.u156_end {
    position:absolute;
    left:255px;
    top:2917px;
    width:20px;
    height:10px;
}

.u156_line {
    background-image: url('../Home_files/u156_line.png');
}

.u156_line {
    position:absolute;
    left:264px;
    top:2906px;
    width:3px;
    height:20px;
}

.u156 {
    position:absolute;
    left:264px;
    top:2906px;
    width:3px;
    height:20px
}

.u157 {
    position:absolute;
    left:40px;
    top:3048px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:40px;
    top:3078px;
    width:810px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:40px;
    top:3642px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:40px;
    top:3672px;
    width:810px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_original {
    background-image: url('../Home_files/u0_original.png');
}

.u161_container {
    position:absolute;
    left:360px;
    top:3740px;
    width:260px;
    height:410px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u162 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:360px;
    top:3740px;
    width:260px;
    height:410px
}

.u163_original {
    background-image: url('../Home_files/u19_original.png');
}

.u163_container {
    position:absolute;
    left:380px;
    top:3790px;
    width:40px;
    height:40px;
}

#u163_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u164 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:380px;
    top:3790px;
    width:40px;
    height:40px
}

.u165_original {
    background-image: url('../Home_files/u19_original.png');
}

.u165_container {
    position:absolute;
    left:440px;
    top:3790px;
    width:40px;
    height:40px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u166 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:440px;
    top:3790px;
    width:40px;
    height:40px
}

.u167_original {
    background-image: url('../Home_files/u19_original.png');
}

.u167_container {
    position:absolute;
    left:500px;
    top:3790px;
    width:40px;
    height:40px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u168 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:500px;
    top:3790px;
    width:40px;
    height:40px
}

.u169_original {
    background-image: url('../Home_files/u19_original.png');
}

.u169_container {
    position:absolute;
    left:560px;
    top:3790px;
    width:40px;
    height:40px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u170 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169 {
    position:absolute;
    left:560px;
    top:3790px;
    width:40px;
    height:40px
}

.u171_original {
    background-image: url('../Home_files/u19_original.png');
}

.u171_container {
    position:absolute;
    left:380px;
    top:3853px;
    width:40px;
    height:40px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u172 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:380px;
    top:3853px;
    width:40px;
    height:40px
}

.u173_original {
    background-image: url('../Home_files/u69_original.png');
}

.u173_container {
    position:absolute;
    left:546px;
    top:4110px;
    width:64px;
    height:30px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:36px;
}

.u174 {
    position:absolute;
    left:2px;
    top:7px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:546px;
    top:4110px;
    width:64px;
    height:30px
}

.u175_original {
    background-image: url('../Home_files/u130_original.png');
}

.u175_container {
    position:absolute;
    left:360px;
    top:3740px;
    width:260px;
    height:410px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:266px;
    height:416px;
}

.u176 {
    position:absolute;
    left:2px;
    top:197px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:360px;
    top:3740px;
    width:260px;
    height:410px
}

.u177_original {
    background-image: url('../Home_files/u177_original.png');
}

.u177_container {
    position:absolute;
    left:400px;
    top:3840px;
    width:184px;
    height:170px;
}

#u177_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:190px;
    height:176px;
}

.u178 {
    position:absolute;
    left:2px;
    top:77px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:400px;
    top:3840px;
    width:184px;
    height:170px
}

.u179 {
    position:absolute;
    left:459px;
    top:3870px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:91px;
    top:3875px;
    width:150px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:203px;
    top:3875px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u182 {
    position:absolute;
    left:436px;
    top:3905px;
    width:120px;
    height:45px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u183 {
    position:absolute;
    left:436px;
    top:3966px;
    width:120px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u184_original {
    background-image: url('../Home_files/u184_original.png');
}

.u184_container {
    position:absolute;
    left:40px;
    top:3953px;
    width:260px;
    height:198px;
}

#u184_img {
    position:absolute;
    left:0px;
    top:0px;
    width:260px;
    height:198px;
}

.u185 {
    position:absolute;
    left:2px;
    top:91px;
    width:256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:40px;
    top:3953px;
    width:260px;
    height:198px
}

